---
import { GitHubLink } from "./GitHubLink";

const today = new Date();
---

<footer class="pt-8 px-4 text-center bg-gray-100 pb-8">
	&copy; {today.getFullYear()} Pixel Dragon. All rights reserved.
	<div class="flex justify-center g-4 mt-4">
		<GitHubLink />
	</div>
</footer>

