---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { GitHubLink } from "./GitHubLink";
---

<header class="p-4 shadow-[0_2px_8px_rgba(var(--black),_5%)]">
  <nav class="flex items-center justify-between">
    <h2 class="text-xl"><a href="/">{SITE_TITLE}</a></h2>
    <div class="text-lg flex gap-8">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Articles</HeaderLink>
      <HeaderLink href="/about">À propos</HeaderLink>
    </div>
    <div class="flex">
      <GitHubLink />
    </div>
  </nav>
</header>
