---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="relative">
		<Header />
		<main class="max-w-[720px] m-auto py-12 px-4">
            <slot />
		</main>
		<Footer />
	</body>
</html>
